<div class="px-4 py-4 flex flex-col flex-auto w-full">

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 w-full">
      <!-- playlist -->
      <div class="flex flex-col">
          <div class="relative p-4 bg-card h-40 md:h-80 bg-cover shadow dark:bg-slate-800 rounded " [ngStyle]="{'background-image': 'url('+utils.getImage(playlist.images)+')'}">
            <div class="absolute bottom-0 bg-slate-800 opacity-75 w-full left-0 rounded-bl rounded-br p-2">
                  <div class="font-medium text-2xl  text-slate-200 px-2 text-white">{{playlist.name}}</div>
                  <div class="text-white px-2">{{playlist.followers.total | number}} Seguidores</div>
                  <div class="text-white px-2">{{playlist.description}}</div>   
            </div>
          </div>
      </div>
  
      <!-- tracks by playlist -->
      <div class="flex flex-col">
          <div class="p-4 bg-card shadow dark:bg-slate-800 rounded">
              <div class="flex flex-col">
                  <div class="font-medium text-lg text-slate-200 border-b border-slate-600 pb-1">{{playlist.tracks.total}} Canciones</div>
              </div>
              <ng-container *ngFor="let track of playlist.tracks.items; let i = index;">
                  <div class="bg-white  dark:bg-slate-800 rounded-xl p-2">
                      <div class="flex items-center ">
                        <div class="min-w-0 flex-auto space-y-1 font-semibold">
                          <p class="text-cyan-500 dark:text-cyan-400 text-sm " style="margin-bottom: 0 !important;">
                              #{{i+1}}
                          </p>
                          
                          <p class="text-slate-900 dark:text-slate-50 text-lg">
                            {{track.track.name}}
                          </p>
                          <p class="text-slate-900 dark:text-slate-400 font-normal ">
                            {{utils.getDuration(track.track.duration_ms)}} minutos
                          </p>
                        
                          <p class="text-slate-900 dark:text-slate-400 ">
                            {{utils.getArtists(track.track.artists)}}
                          </p>

                        
                        </div>
                        <div *ngIf="track.track.preview_url">
                          <button mat-icon-button class="text-white bg-slate-700" (click)="playAudio(track.track)">
                              <mat-icon *ngIf="track.track.id !== currentPlaying?.id">play_arrow</mat-icon>
                              <mat-icon *ngIf="track.track.id === currentPlaying?.id">stop</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="border-b border-slate-600"></div>
              </ng-container>
          </div>
      </div>
    </div>  
</div>